<nav class="navbar navbar-default">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CookBook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <% if supplier_signed_in? %>
      <li class="active"> <%= link_to 'Edit profile', edit_supplier_registration_path, :class => 'navbar-link' %> </li>
      <li class="active"> <%= link_to "Logout", destroy_supplier_session_path, method: :delete, :class => 'navbar-link'  %> </li>
    <% else %>
      <li class="active"><%= link_to "Sign up", new_supplier_registration_path, :class => 'navbar-link'  %> </li>
      <li class="active"><%= link_to "Login", new_supplier_session_path, :class => 'navbar-link'  %> </li>
    <% end %>

    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>